/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --color: #00cc14;
  --background-color: #000;
  --repeating-linear-gradient-color: #000;
  --linear-gradient: linear-gradient(#007f0c, #004306);
  --font-variation-settings-caption: "wght" 785, "slnt" 0;
  --font-variation-settings: "wght" 465, "slnt" 0;
  --pointer-animation-color: rgb(0 204 20 / 0.6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #00cc14;
    --background-color: #000;
    --repeating-linear-gradient-color: #000;
    --linear-gradient: linear-gradient(#007f0c, #004306);
    --font-variation-settings-caption: "wght" 785, "slnt" 0;
    --font-variation-settings: "wght" 465, "slnt" 0;
    --pointer-animation-color: rgb(0 204 20 / 0.6);
}
}
